<style>

    table {
        list-style-type: none;
        margin: 0;
        padding: 4;
        overflow: hidden;
        border: 10px solid #e7e7e7;
        background-color: #f3f3f3;
        width: 100%;
        height: 4rem;
    }

    td {
        float: center;
    }

    td a:hover:not(.active) {
        background-color: #ddd;
      }
    
    td a.active {
        color: white;
        background-color: #484f93;
    }

    a{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    td a.back {
        color: black;
        background-color: white;   
    }

    td a.back:hover{
        background-color: #4f538b;
    }

</style>


<table>
    <tr>
        <td><a class = "active" href="{{site.baseurl}}/">Home</a></td>
        <td><a class = "back" href="{{site.baseurl}}/tesla">Tesla</a></td>
        <td><a class = "back" href="{{site.baseurl}}/rivian">Rivian</a></td>
        <td><a class = "back" href="{{site.baseurl}}/lucid">Lucid</a></td>
        <td><a class = "back" href="{{site.baseurl}}/NIO">NIO</a></td>
        <td><a class = "back" href="{{site.baseurl}}/signup">Log-in</a></td>
    </tr>
</table>
